# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

#test
k6Test.js

# Logs
logs
*.log
logs/
debug.log
error.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/
.vscode/
.idea/

# Dependency directories
.bower_components/

# Editor and OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
.nyc_output/
coverage/
k6Test.js
